.review-form {
  text-align: center;
}

.page-header {
  text-align: center;
  color: white;
  margin-bottom: 5vh;
}

.general-background {
  background-color: #8394aa;
  padding-top: 5vh;
  padding-bottom: 10vh;
}